@media only screen and (max-width: 1110px) {
  /* Блоки обёртки  */

  ._container {
    max-width: 720px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
  }

  /* --------------------------- */

  /* Навигация */

  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    height: 24px;
    width: 24px;
    cursor: pointer;
    margin-left: 15px;
  }

  .menu__link {
    position: relative;
    border-radius: 50%;
    display: block;
    height: 24px;
    width: 24px;
    background-color: #fff;
    outline: none;
  }

  .menu__link span,
  .menu__link span:after,
  .menu__link span:before {
    display: block;
    height: 2px;
    width: 18px;
    position: absolute;
    top: 50%;
    background-color: #969696;
  }

  .menu__link span::before,
  .menu__link span::after {
    content: "";
  }

  .menu__link span::before {
    left: 0;
    top: -5px;
  }

  .menu__link span::after {
    left: 0;
    top: 5px;
  }

  .logo {
    margin: 15px auto;
  }

  .nav-mobile button {
    height: 24px;
    width: 24px;
    box-shadow: none;
  }

  .search {
    margin-right: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    border: none;
  }

  /* --------------------------- */

  /* Блок header */

  .header._container {
    margin: 0 15px;
    padding: 0;
  }

  .header__img {
    position: relative;
    width: 100%;
    height: 369px;
    float: left;
    left: 0px;
    top: 0px;
    margin-top: 40px;
    z-index: 1;
    object-fit: cover;
    object-position: top left;
  }

  .header__img > img {
    height: 369px;
  }

  .wrapper_stripes {
    background: #ffffff;
    height: auto;
    margin: 0 auto;
  }

  .header__subscribe {
    height: auto;
    margin: 30px 0 0 0;
  }

  .header__text {
    margin-bottom: 30px;
  }

  .header__form {
    overflow: hidden;
    width: 100%;
    margin: 30px auto 0 0;
  }

  .header__form ~ .header__text {
    margin: 0 auto 45px 0;
    width: 100%;
  }

  .header__form > input {
    width: 100%;
  }

  /* --------------------------- */

  /* Блок about */

  .about__icon {
    margin-top: 40px;
  }

  .about__text {
    min-width: 290px;
    margin-bottom: 44px;
  }

  /* --------------------------- */

  /* Блок devices */

  .devices__block-text {
    margin: 40px 0 30px 0;
  }

  .devices__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
  }

  .devices__item {
    margin-bottom: 30px;
  }

  .devices__block-img {
    height: 144px;
    margin-top: 38px;
  }

  /* --------------------------- */

  /* Блок review */

  .review__inner {
    width: 100%;
  }
  

  .review__button {
    display: none;
  }

  .review__text {
    margin: 0 auto;
    text-align: center;
    margin: 10px 0 40px 0;
  }

  .review__brand {
    margin: 0 0 12px 0;
  }

  .review__position {
    margin-bottom: 30px;
  }

  .review__more {
    margin-bottom: 48px;
  }

  .review__dots {
    display: flex;
    justify-content: center;
    margin-bottom: 57px;
  }

  .review__dots span {
    height: 8px;
    width: 8px;
    margin: 0 3px;
    background: #dbdbdb;
    border-radius: 50%;
  }

  .review__dots .active-dot {
    background: #24afb5;
  }

  /* --------------------------- */

  /* Блок pricing */

  .pricing {
    margin: 40px auto;
    justify-content: space-around;
    align-items: center;
  }

  .pricing__block {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .pricing__block:last-child {
    margin-bottom: 0px;
  }

  /* --------------------------- */

  /* Блок subscribe */

  .subscribe__box {
    display: block;
    align-items: center;
    margin: 40px 0 46px 0;
  }

  .subscribe__block-text {
    margin: 0 auto 20px auto;
    width: 100%;
  }

  .subscribe__block-form {
    margin: auto auto 0 auto;
    width: 100%;
  }

  .subscribe__block-form > button {
    margin-left: 0;
  }

  .subscribe__block-form > input {
    margin-bottom: 10px;
    margin-right: 18px;
    width: 100%;
  }

  .subscribe__block-form {
    margin: auto;
  }

  /* --------------------------- */

  /* Блок footer */

  .footer._container {
    padding: 0;
  }

  .footer {
    display: block;
    margin: 40px auto 48px auto;
  }

  .footer__box {
    display: block;
    margin: 0 auto;
    align-items: center;
  }

  .footer__box .logo {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .footer__socials-desktop {
    display: none;
  }

  .footer__socials-mobile {
    display: block;
    text-align: center;
    margin-top: 30px;
  }

  .footer__box .nav-list {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }

  .nav-list__item {
    margin: 10px 15px;
  }

  .footer__copyright {
    margin: 30px 15px 0 15px;
    text-align: center;
  }

  /* --------------------------- */
}

@media only screen and (max-width: 1140px) {
  /* Блок features */

  .features {
    margin: 0 auto;
    max-width: 720px;
  }

  .features__list {
    display: flex;
    flex-direction: column;
    margin: 25px auto 30px auto;
  }

  .feature__block {
    width: 100%;
  }

  .features__img {
    width: 100%;
    text-align: center;
    margin: 0 auto 46px auto;
  }

  .features__img > img {
    min-height: 180px;
    width: 100%;
  }

  /* --------------------------- */
}

@media screen and (max-width: 1127px) {
  /* Блок statistics */

  .statistics__img {
    margin: 40px auto;
    padding: 0 15px;
  }

  .statistic__list {
    grid-gap: 30px 30px;
    margin: 0 auto;
  }

  .statistic__block {
    margin: 0 auto;
  }

  .statistic__block-right {
    margin: 30px auto 40px auto;
  }

  /* --------------------------- */
}

@media only screen and (min-width: 615px) and (max-width: 1108px) {
  /* Блок header */

  .wrapper_stripes {
    max-width: 445px;
  }

  .header__subscribe {
    max-width: 445px;
  }

  .header._container {
    margin: auto;
  }

  .header__img {
    text-align: center;
    position: relative;
  }

  /* --------------------------- */
}


