@media only screen and (max-width: 1100px) {


    .wrapper {
        padding: 0 1.5rem;
        margin: 0 auto;
        background: #FFFFFF;
     }

    /*  .header__img {
        position:relative; 
        width: calc(100% - 15px );
        height: 600px;
        float: left;
        left: 15px;
        top: 0px;
        margin-top: 40px;
        margin-bottom: 30px;
        z-index: 1;
        object-fit: cover;
        object-position: top left; */
    }
}